

<div>
    <a routerLink="form">Dodaj</a>
</div>

<input [(ngModel)]="fraza" placeholder="Szukaj po nazwie" />
<button (click)="filtruj()">Szukaj</button>
<hr />


<hr />
<table border="1">

    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Wykonawca</th>
            <th>Rodzaj</th>
            <th>Rok</th>
            <th>Przejdź</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obiekt of (dane$ | async)">
            <td>{{obiekt.id}}</td>
            <td>{{obiekt.nazwa}}</td>
            <td>{{obiekt.wykonawca}}</td>
            <td>{{obiekt.rodzaj}}</td>
            <td>{{obiekt.rok}}</td>
            <td><a [routerLink]="obiekt.id + ''">Link</a></td>
        </tr>
    </tbody>
</table>
